classes
benchs
builds
java/phantm/parser/*.java
java/phantm/parser/*.bin
*/*/*/*.sw?
*/*/*.sw?
*/*.sw?
*.sw?
lib/cup/dist/java-cup-11a.jar
lib/cup/java/parser.java
lib/cup/java/sym.java
lib/cup/dist
*.out
*.dump
